{% extends "bootstrap/base.html" %}

{% block title %}同济大学软件学院团学联报名{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
<style type="text/css">
    #homepage{
        font-family : Microsoft YaHei
    }
    #testpage{
        font-family : Microsoft YaHei
    }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="{{ url_for('main.index') }}" id="homepage">同济大学软件学院团学联报名</a>
        </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
    <div class="page-header">
        <h1>           </h1>
    </div>
    <footer class="footer ">
        <div class="container">
            <strong>Copyright 2016</strong>  SU of Software Engineering, Tongji University. All Rights Reserved. 
            <p>Powered by Lisirrx</p>
        </div>
    </footer>
{% endblock %}



{% block scripts %}

{% endblock %}


